# --- DJANGO & PYTHON ---
__pycache__/
*.py[cod]
*$py.class
db.sqlite3
db.sqlite3-journal
local_settings.py

# --- CONFIGURACIÓN SENSIBLE (MariaDB / Webpay) ---
conf.json
.env
secrets.json
*.runtimeconfig.json

# --- ARCHIVOS ESTÁTICOS Y CARGAS ---
# Evita subir los 1700+ archivos de FontAwesome y fotos de prueba
assets/
static/
media/
staticfiles/

# --- HERRAMIENTAS Y SISTEMA ---
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log