{% extends '../layout/frontend.html' %}
{% load static %}
{% load utilidades %}
{% block title %} Detalle producto
{{datos.nombre}} {% endblock %}
{% block content %}
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">

            {# First column for the carousel #}
            <div class="col-md-6">
                {# Carrusel #}

                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      {% for foto in fotos %}
                      <div class="carousel-item {% if forloop.counter0 is 0 %}active{% endif %}">
                        <img src="{% static 'upload/producto/'%}{{foto.foto}}" class="d-block w-100" alt="{{datos.nombre}}">
                      </div>
                      {% endfor %}
                      {# The following div was empty and unneeded #}
                      {# <div class="carousel-item"> </div> #}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                </div>
                </div>

            {# Second column for the product details #}
            <div class="col-md-6">
                <div class="small mb-1">Categoría: <a href="">{{datos.producto_categoria.nombre}}</a></div>
                <h1 class="display-5 fw-bolder">{{datos.nombre}}</h1>
                <div class="fs-5 mb-5">
                    <span class="text-decoration-line-through">${{datos.precio_antes|numberFormat}}</span>
                    <span>${{datos.precio|numberFormat}}</span>
                </div>
                <p class="lead">{{datos.descripcion}}</p>
                {% if datos.stock == 0 %}
                  <span class="alert alert-danger">PRODUCTO SIN STOCK</span>
                {% else %}
                <div class="d-flex">
                    Cantidad
                </div>
                <div class="d-flex">
                  <select class="form-control form-control-sm w-100" id="cantidad">
                    {% with ''|center:datos.stock as range %}
                      {% for _ in range %}
                        <option value="{{forloop.counter}}">{{forloop.counter}}</option>
                      {% endfor %}
                    {% endwith %}
                  </select>
                </div>
                <hr/>
                <div class="d-flex">
                  <a href="javascript:void(0);" class="boton_agregar_al_carro w-100" onclick="agregarAlCarro();" title="Agregar al carro"><i class="fas fa-cart-plus"></i> Agregar al carro</a>
                </div>
                {% endif %}
                <hr/>
                <div class="d-flex">
              <a href="https://api.whatsapp.com/send?phone={{4|getMetadata}}&text=Hola%20necesito%20informaci%C3%B3n%20del%20producto%20 {{datos.nombre}}" class="boton_cotizar_whatsapp w-100" title="Pedir por whatsapp" target="_blank"><i class="fab fa-whatsapp"></i> Pedir por whatsapp</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}