{% extends '../layout/frontend.html' %} 
{% load static %}
{% load utilidades %}
{% block title %} Inicio {% endblock %}
{% block content %}
 <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
              
                   <h4 class="card-title mt-2">Registro</h4>
                    {% include "layout/flash.html" %}
    <form name="form_registro" method="post" action="{% url 'acceso_registro' %}">
    {% csrf_token %}
    <div class="form-group">
        <label>Nombre</label>
        {{form.nombre}}
    </div>
    <div class="form-group">
        <label>Apellido</label>
        {{form.apellido}}
    </div>  
    <div class="form-group">
        <label>E-Mail</label>
        {{form.correo}}
    </div> 
    <div class="form-group">
        <label for="password" class="label">Contraseña</label>
              {{form.password}}
    </div> 
    <div class="form-group">
        <label for="password" class="label">Repetir contraseña</label>
              {{form.password2}}
    </div>  
    <div class="form-group">
        <button type="button" class="btn btn-primary " onclick="sendRegistro();"><i class="fas fa-envelope"></i> Enviar  </button>
    </div>      
                                             
</form>
<hr/>
<p>
     <a href="{% url 'acceso_login' %}" title="Ir al Login" class="color_negro">Ir al Login</a>
</p>
            </div>
        </section>
{% endblock %}